<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="~/css/site.css">

</head>
<body>
    <h2>Iniciar Sesión</h2>
    <form action="login_procesar.php" method="post">
        <label>Correo Electrónico:</label>
        <input type="email" name="correo" required><br>

        <label>Contraseña:</label>
        <input type="password" name="contraseña" required><br>

        <input type="submit" value="Iniciar Sesión">
    </form>

    <p>¿No tienes una cuenta? <a href="~/Home/register">Registrarse</a></p>
</body>
</html>
