@page
@model registerModel

<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
</head>
<body>
    <h2>Registrarse</h2>
    <form method="post">
        <div>
            <label>Nombre:</label>
            <input type="text" asp-for="FirstName" required><br>
        </div>

        <div>
            <label>Apellido:</label>
            <input type="text" asp-for="LastName" required><br>
        </div>

        <div>
            <label>Correo Electrónico:</label>
            <input type="email" asp-for="Email" required><br>
        </div>

        <div>
            <label>Contraseña:</label>
            <input type="password" asp-for="Password" required><br>
        </div>

        <input type="submit" value="Registrarse">
    </form>
</body>
</html>
